.grid {
  display: grid;
  overflow: visible;
  grid-template-columns: repeat(var(--cols), 1fr);
  padding: var(--space-xs);
  margin: var(--space-l) auto;
  width: min(90vw, 90vh, 500px);
  max-width: 100%;
  background-color: var(--grid-bg);
  border-radius: var(--radius-m);
  transition: box-shadow 0.4s ease;
}

.grid.win {
  box-shadow: 0 0 5rem rgba(136 201 161 / 0.5), 0 0 1rem rgba(136 201 161 / 0.5);
  pointer-events: none;
}

.cell {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  aspect-ratio: 1;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.cell.interactive {
  cursor: pointer;
}

.cell.interactive:hover {
  transform: scale(0.94);
  border-radius: var(--radius-s);
}

.cell.selected {
  transform: scale(0.97);
}

.cell.anchor {
  cursor: default;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: var(--text-2xl);
}

.cell.dragging {
  opacity: 0;
}

.drag-overlay {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 480px) {
  .grid {
    width: 95vw;
  }

  .cell {
    aspect-ratio: 0.8;
  }

  .cell.anchor {
    font-size: var(--text-base);
  }
}