.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: var(--space-xs);
  padding: var(--space-xs);
  margin: var(--space-l) auto;
  width: min(90vw, 90vh, 500px);
  max-width: 100%;
  background-color: var(--grid-bg);
  border-radius: var(--radius-m);
}

.cell {
  border-radius: var(--radius-s);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  aspect-ratio: 1;
}

.cell.interactive {
  cursor: pointer;
}

.cell.interactive:hover {
  transform: scale(0.97);
  border-radius: var(--radius-s);
}

.cell.selected {
  transform: scale(0.97);
}

.cell.anchor {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: var(--text-2xl);
}

.cell.dragging {
  opacity: 0;
}

.drag-image {
  width: 30px;
  height: 30px;
  opacity: 1;
  border-radius: var(--radius-s);
  position: absolute;
  top: -1000px;
}

@media (max-width: 480px) {
  .grid {
    gap: 2px;
    width: 95vw;
  }

  .cell {
    aspect-ratio: 0.8;
  }

  .cell.anchor {
    font-size: var(--text-base);
  }
}